[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django-extensions = "*"
Django = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
